<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog.org/schemas/Nlog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- 文件输出目标，日志输出到文件，可根据需要调整路径和文件名格式 -->
		<target xsi:name="file" type="File" fileName="logs/${shortdate}.log"
                layout="${longdate} ${level} ${message} ${exception:format=tostring}" />
		<!-- 控制台输出目标，方便在开发环境查看日志 -->
		<target xsi:name="console" type="ColoredConsole"
                layout="${longdate} ${level} ${message} ${exception:format=tostring}" />
	</targets>
	<rules>
		<!-- 自定义规则示例，这里将不同级别的日志发送到不同目标 -->
		<!--<rule name="webDefault" minLevel="Debug" maxLevel="Warning" writeTo="console" />
		<rule name="webError" minLevel="Error" maxLevel="Fatal" writeTo="file" />-->


		<!--Trace- 最常见的记录信息，一般用于普通输出
		Debug- 同样是记录信息，不过出现的频率要比Trace少一些，一般用来调试程序
		Info- 信息类型的消息
		Warn- 警告信息，一般用于比较重要的场合
		Error- 错误信息
		Fatal- 致命异常信息。一般来讲，发生致命异常之后程序将无法继续执行。
		优先级：Trace>Debug>Info>Warn>Error>Fatal-->
		<!--<rule name="default" minLevel="Warn" maxLevel="Fatal" writeTo="file,console" />-->
		<logger name="*" levels="Warn,Information,Error" writeTo="file" />
	</rules>
</nlog>